<div style="background-image: url('/images/login.jpg');
 background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    padding: 20px;">
<div class="container mt-4">

    <!-- <div *ngIf="showAddForm"> -->
    <div class="card">
    <h1 style="background-color: rgb(0, 0, 0); color: aqua; "> Forgot password  #kisi ko dukh nahi dena he</h1>    
<br>
       <form>
            <div class="form-group">
                <label>UserName </label>
                <input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone:true}" class="form-control" id="yname" placeholder="Enter UserName">
                <!-- <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone:true}" class="form-control" id="yname" placeholder="Enter Email"> -->
            </div>
            <br>
            <div class="class form-group">
                <label>password</label>
                <input type="text" [(ngModel)]="password" [ngModelOptions]="{standalone:true}" class="form-control" id="ysurname" placeholder="Enter password">
        <button type="submit" class="btn btn-primary mt-4 form-control" (click)="save()">SAVE</button> 
            </div>
        
            <br>          
          
        </form>

      
    </div><hr>
    <!-- <p>Don't have an account? <a routerLink="/app-register">Register</a></p> -->
     <h3> <p><a href="app-register" style="color: aqua;">Don't have an account? Register </a></p></h3>
</div>
   
</div>



